<div class="centerer" id="screen-select">
        <div class="centered">
            <table>
                <tr>
                    <th>Private Key:</th>
                    <td><input type="text" placeholder="(private key)" id="select-privatekey" ng-model="PrivateKey" /></td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <div id="select-submit-privatekey" class="submit" ng-click="OpenWallet()">Unlock JSON Wallet</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>