body {
    background-image: url(../img/eth-background-1.jpg) ;    
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.back1{
    background-image: url(../img/eth-background-1.jpg) !important;
}
.back2{
    background-image: url(../img/eth-background-2.jpg) !important;
}
.back3{
    background-image: url(../img/eth-background-3.jpg) !important;
}
.back4{
    background-image: url(../img/eth-background-4.jpg) !important;
}
.back5{
    background-image: url(../img/eth-background-5.jpg) !important;
}




body > section#main {
    display: block;
    z-index: 9;
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.tile-table {
    overflow-x:auto;
}


.tile-table::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.tile-table::-webkit-scrollbar
{
	width: 12px;
	background-color: #2f323a;
}

.tile-table::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #676c7d;
}

.FCyellow{
    color: #ffe500;
}
.FCred{
   color:red;text-shadow: none;
}
.FCgreen{
    color: #21de28;
}

#wallet-activity{
    margin: 5px 10px;
}