@font-face {
    font-family: 'open-sans-semibold';
    src: url('../fonts/opan-sans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/opan-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opan-sans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/opan-sans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/opan-sans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-light';
    src: url('../fonts/opan-sans/OpenSans-Light-webfont.eot');
    src: url('../fonts/opan-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opan-sans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/opan-sans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/opan-sans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans-regular';
    src: url('../fonts/opan-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opan-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opan-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opan-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opan-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ios7-icon';
    src:
        url('../fonts/icons/icon.woff') format('woff'),
        url('../fonts/icons/icon.ttf') format('truetype'),
        url('../fonts/icons/icon.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background: rgba(255,255,255,0.1);
}
::-moz-selection {
    background: rgba(255,255,255,0.1);
}

* {
    border-radius: 0 !important;
    box-shadow: none;
    -ms-touch-action: manipulation; 
    touch-action: manipulation;    
}

*:focus, *:active {
    outline: none !important;
}

html {
    overflow-x: hidden\0/;
    -ms-overflow-style: scrollbar;
}

html, body {
    height: 100%;
}

body {
    font-family: 'open-sans-light', sans-serif;
    font-size: 12px;
}

.ie9 #sidebar {
    min-height: 100vh;
}

body, button, input, textarea, select, .btn {
    -webkit-font-smoothing: antialiased;
}

body, a, input, .help-block {
    color: #fff;
    text-shadow: 0 0 3px rgba(255,255,255,0.4);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'open-sans-light', sans-serif;
    font-weight: normal;
}

h1, h2, h3 {
    margin-top: 10px;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
    font-size: 60%;
    color: rgba(255,255,255,0.5);
}

a:hover, a:focus {
    color: #FFD600;
    text-decoration: none;
}

a.underline {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
}

a.underline:hover, a.underline:focus {
    border-color: #FFD600;
}

small {
    color: #fff;
}

img {
    max-width: 100%;
}

/* --------------------------------------------------------
    Bootstrap Overrides
-----------------------------------------------------------*/
.container {
    width: auto;
    padding: 0;
}

.row {
    margin-left: -7px;
    margin-right: -7px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 7px;
    padding-right: 7px;
}

/






#menu-toggle {
    width: 45px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px 12px 13px;
    background-color: rgba(0,0,0,0.5);
}


#content {
    margin-left: 50px;
    min-height: 500px;
    position: relative;
}




/* Shortcuts */
.shortcut {
    width: 73px;
    height: 85px;
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: center;
    padding: 11px 10px 0;
    position: relative;
    vertical-align: top;
}

.shortcut > i {
    font-size: 40px;
    color: #fff;
}

.shortcut:hover {
    background: rgba(0,0,0,0.4);
}

.shortcut img {
    opacity: 0.8;
}

.shortcut:hover img {
    opacity: 1;
}

.shortcut small {
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

.shortcut:hover small {
    color: #FFD600;
}


/* HR */
hr {
    margin: 0;
    float: left;
    width: 100%;
}


/* Blocks */
.block-area {
    width: 100%;
    float: left;
}

.tile {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 1em;
}

.tile-title {
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
}

.tile-config {
    position: absolute;
    top: 0;
    height: 27px;
    right: 0;
}

.tile-config > .tile-menu {
    width: 34px;
    height: 26px;
    display: inline-block;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/icon/tile-actions.png);
}

.tile-config > a:hover {
    background-color: rgba(0,0,0,0.3);
}




/* Tooltips */
.tooltip {
    z-index: 10000;
}

.tooltip-inner {
    padding: 3px 8px 4px;
    font-size: 11px;
    font-family: 'open-sans-regular', sans-serif;
    text-transform: none;
}


/* Tables */
.table > thead > tr > th {
    font-weight: normal;
    padding: 5px 8px 6px;
    text-transform: uppercase;
    border-bottom: 0;
}

.table td, .table th {
    border-color: rgba(255,255,255,0.05) !important;
}

.table-condensed > thead > tr > th {
    padding: 3px 5px 5px;
}

.table-bordered, .table-responsive {
    border: 0;
}



.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th {
    border-bottom: 0;
    border-left: 0;
}

.table-bordered > tbody > tr > td:last-child,
.table-bordered > thead > tr > th:last-child {
    border-right: 0;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th,
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: rgba(0,0,0,0.2);
}





.block-title {
    background: rgba(0,0,0,0.3);
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 10px 5px;
    display: inline-block;
    letter-spacing: 0.5px;
}

.page-title {
    padding: 8px 15px 9px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    margin: 0;
}

.tile-light {
    background: rgba(0,0,0,0.25);
}

.tile , .tile-dark, .tile-title, .table th {
    background: rgba(0,0,0,0.35);
}





@media (min-width: 1200px) {
    /* Sidebar */
    .side-widgets .profile-pic:hover {
        -webkit-animation-name: tada;
        animation-name: tada;
    }
    
    /* List views */
    .sortable.todo-list .media {
        padding-left: 20px;
        background: url(../img/sort.png) no-repeat 8px 11px;
    }
}

@media (min-width: 1024px) {
    /* --------------------------------------------------------
        Template Blur Skins for Desktop
    -----------------------------------------------------------*/
    [id^="skin-blur-"] {
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    #skin-blur-violate {
        background-image: url(../img/body/violate.jpg);
    }

    #skin-blur-lights {
        background-image: url(../img/body/lights.jpg);
    }

    #skin-blur-city {
        background-image: url(../img/body/city.jpg);
    }

    #skin-blur-greenish {
        background-image: url(../img/body/greenish.jpg);
    }

    #skin-blur-night {
        background-image: url(../img/body/night.jpg);
    }
    
    #skin-blur-sunny {
        background-image: url(../img/body/sunny.jpg);
    }
    
    #skin-blur-blue {
        background-image: url(../img/body/blue.jpg);
    }
    
    #skin-blur-chrome {
        background-image: url(../img/body/chrome.jpg);
    }
    
    #skin-blur-ocean {
        background-image: url(../img/body/ocean.jpg);
    }
    
    #skin-blur-sunset {
        background-image: url(../img/body/sunset.jpg);
    }
    
    #skin-blur-yellow {
        background-image: url(../img/body/yellow.jpg);
    }

    #skin-blur-kiwi {
        background-image: url(../img/body/kiwi.jpg);
    }
    
    #skin-blur-nexus {
        background-image: url(../img/body/nexus.jpg);
    }

    #skin-blur-ethereum{       
        background-color: black;
    }

   
    /* Sidebar */
   
    .side-menu > li > a:hover, .side-menu > li.active > a, .side-menu > li > a.active:hover, .side-menu > li.hovered > a {
        background-color: rgba(0,0,0,0.95);
        color: #fff;
        opacity: 1;
    }

    
    .profile-menu > li i {
        position: absolute;
        top: 8px;
        color: #fff;
    }
    
    .profile-menu > li i.right {
        right: -30px;
    }
       
    .profile-menu > li i.left {
        left: -30px;
    }
    
    .profile-menu > li:hover i.right {
        right: 15px;
    }
    
    .profile-menu > li:hover i.left {
        left: 15px;
    }

    /* Common */
    .tile , .tile-dark, .tile-title, .table th {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
}

@media (min-width: 780px) {
    /* Content */
    #main {
        min-height: 100%;
        min-height: calc(100% - 50px);
    }

    .menu-active #main {
        overflow: visible;
    }

    .menu-active #content {
        margin-left: 0;
    }

    .block-area {
        padding: 15px 15px 0; 
    }

    /* Sidebar */
    #sidebar {
        padding-left: 45px;
    }

    #sidebar.toggled {
        position: absolute;
        left: -233px;
    }

    #sidebar .side-menu {
        width: 45px;
        height: 100%;
        left: 0;
        position: absolute;
        background: rgba(0,0,0,0.5);
    }
    
    #sidebar .side-menu > li > a {
        width: 100%;
    }
    
    .side-menu .menu-item {
        position: absolute;
        left: 70px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 230ms;
        -moz-transition: all 230ms;
        -o-transition: all 230ms;
    }
    
    
    .side-menu > li:hover .menu-item {
        left: 45px;
        opacity: 1;
        z-index: 20;
        visibility: visible;
    }
    
    .side-widgets {
        height: 100%;
        display: none;
    }

    /* Login */
    #login {
        padding: 30px;
    }

    #login > header > h1, #error-page h1 {
        font-size: 60px;
    }

    #login .box {
        width: 500px; 
    }
}

@media (min-width: 480px) {
    .profile-summary .btn.hidden-xs {
        display: inline-block !important;
    }
}

@media (max-width: 1024px) {
    /* --------------------------------------------------------
        Template Skins for Mobile
    -----------------------------------------------------------*/
    #skin-blur-violate {
        background: #581528;
    }

    #skin-blur-lights {
        background: #152d33;
    }

    #skin-blur-city {
        background: #321e39;
    }

    #skin-blur-greenish {
        background: #233335;
    }

    #skin-blur-night {
        background: #0F3D52;
    }
    
    #skin-blur-sunny {
        background: #44360B;
    }
    
    #skin-blur-blue {
        background: #2B6474;
    }
    
    #skin-blur-chrome {
        background: #40404E;
    }
    
    #skin-blur-ocean {
        background: #0064B3;
    }
    
    #skin-blur-sunset {
        background: #883527;
    }
    
    #skin-blur-yellow {
        background: #915D25;
    }

    #skin-blur-kiwi {
        background: #0f4731;
    }
    
    #skin-blur-nexus {
        background: #8A033A;
    }

    /* Shortcut icons */
    .shortcut {
        height: 62px;
        width: 65px;
    }
    
    .shortcut img {
        height: 25px;
    }
    
    /* Sidebar */
    .profile-menu > li i {
        display: none;
    }
    
    /* Chat */
    .chat {
        display: none;
    }
}

@media (max-width: 780px) {
    /* Content */
    #main {
        min-height: 100%;
        min-height: calc(100% - 100px);
    }
    
    .block-area {
        padding: 15px 10px 0; 
    }
    /* Header */
    #header {
        padding: 0;
    }
    
    .logo {
        width: 100%;
        margin: 0;
    }
    
    .main-search:focus {
        position: absolute;
        left: 0;
        width: 100%;
        padding-left: 40px;
        margin-top: -8px;
        height: 51px;
        background-position: 10px; 
        background-color: rgba(0,0,0,0.9);
    }
    
    #header > .media-body {
        padding: 0 7px;
        white-space: nowrap;
    }
    
    #header > .media-body:hover #time {
        display: none;
    }
    
    /* Sidebar + Content */
    #content {
        margin-left: 0;
    }
    .login-panel{
        margin-left: auto !important;
    }
    section#main {
        background: rgba(0, 0, 0, 0.22) !important;
    }

    #sidebar {       
        z-index: 9999;
        position: absolute;
        height: 100%;
        height: calc(100% + 51px);
        overflow-x: hidden;
        overflow-y: auto;
        background: rgba(0,0,0,0.9);
        -webkit-transform: translate3d(-233px,0,0);
        -moz-transform: translate3d(-233px,0,0);
        transform: translate3d(-233px,0,0);
    }
    
    .ie9 #sidebar {
        position: absolute;
        left: -233px;
    }
    
    #sidebar .s-widget:not(#profile-menu) {
        display: none;
    }

    #sidebar.toggled {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    
    .ie9 #sidebar.toggled {
        left: 0;
    }
    
    .side-widgets {
        width: 100%;
    }

    .s-widget .tile-title, .s-widget .fc-header {
        background: rgba(95, 94, 94, 0.35);
    }
    
    .side-menu {
        float: left;
        border-top: 1px solid rgba(255,255,255,0.1);
        width: 100%;
    }
    
    .side-menu > li {
        border-bottom: 1px solid rgba(255,255,255,0.1);
        float: left;
        width: 100%;
        overflow: hidden;
    }
    
    .side-menu > li > a {
        opacity: 1;
    }
    
    .side-menu .menu-item {
        float: left;
        border-left: 1px solid rgba(255,255,255,0.1);
        margin-left: 45px;
    }

    .side-menu ul.menu-item {
        width: 100%;
    }
    
    ul.menu-item a.active {
        color: #FFD600;
        font-weight: bold;
    }
    
    .profile-menu {
        display: block;
    }
    
    /* Messages */
    .message-search:not(:focus) {
        width: 25px;
        margin-right: -5px;
        border: 0;
        font-size: 0px;
        background-color: transparent;
        background-image: url(../img/icon/search.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .message-search:focus {
        width: 100%;
        position: absolute;
        left: -8px;
        border: 0;
        background-color: #000;
        margin-top: -10px;
        height: 50px;
        background: #000 url(../img/icon/search.png) no-repeat 10px;
        padding-left: 43px;
        font-size: 14px;
    }

    /* Login */
    #login {
        padding: 30px 15px;
    }

    #login .box {
        width: 100%;
        width: calc(100% - 30px); 
    }
}

